<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aspect Ratio with Preview Pane | Jcrop Demo</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

<script src="/js/Jcrop-0.9.12/js/jquery.min.js"></script>
<script src="/js/Jcrop-0.9.12/js/jquery.Jcrop.js"></script>


<!-- <link rel="stylesheet" href="demo_files/main.css" type="text/css" />
<link rel="stylesheet" href="demo_files/demos.css" type="text/css" /> -->
<link rel="stylesheet" href="/js/Jcrop-0.9.12/css/jquery.Jcrop.css" type="text/css" />
<style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.image-crop-info {
  margin-top: 20px;
}
.button.blue {
    background-color: #4a89dc;
}
.button:hover {
    opacity: 0.8;
}
.button, .button:hover {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 32px;
    padding: 0 1.5em;
    border: none;
    border-radius: 3px;
    background-color: #4a89dc;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

</style>

</head>
<body>
  <div class="jc-demo-box">

    <img src="<%= avatar %>" id="target" alt="[Jcrop Example]" width="500px" height="500px" />

    <div id="preview-pane">
      <div class="preview-container">
        <img src="<%= avatar %>" class="jcrop-preview" alt="Preview" />
      </div>
    </div>
  </div>

  <!-- This is the form that our event handler fills -->
  <div class="image-crop-info"> 
    <form method="post">
      <input type="hidden" id="x" name="x" />
      <input type="hidden" id="y" name="y" />
      <input type="hidden" id="w" name="w" />
      <input type="hidden" id="h" name="h" />
      <input  value="裁剪图像" class="button blue" id="btn" />
    </form>
  </div>


<script type="text/javascript">
  jQuery(function($){

    // Create variables (in this scope) to hold the API and image size
    var jcrop_api,
        boundx,
        boundy,

        // Grab some information about the preview pane
        $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();
    
    console.log('init',[xsize,ysize]);

    $('#target').Jcrop({
      onChange: updatePreview,
      onSelect: updatePreview,
      aspectRatio: xsize / ysize
    },function(){
      // Use the API to get the real image size
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      // Store the API in the jcrop_api variable
      jcrop_api = this;

      // Move the preview into the jcrop container for css positioning
      $preview.appendTo(jcrop_api.ui.holder);
    });

    function updatePreview(c) {
      if (parseInt(c.w) > 0) {
        var rx = xsize / c.w;
        var ry = ysize / c.h;

        var width = Math.round(rx * boundx);
        var height = Math.round(ry * boundy);
        var ml = Math.round(rx * c.x);
        var mt = Math.round(ry * c.y);

        $pimg.css({
          width: width + 'px',
          height: height + 'px',
          marginLeft: '-' + ml + 'px',
          marginTop: '-' + mt + 'px'
        });

        // 更新表单
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#w').val(c.w);
        $('#h').val(c.h);
      }
    };

  });


</script>
<script type="text/javascript">

  $('#btn').click(function() {
    // 检测有没有剪裁
    if (!parseInt($('#w').val())) {
      alert('Please select a crop region then press submit.');
    } else {
      var x = parseInt($('#x').val());
      var y = parseInt($('#y').val());
      var w = parseInt($('#w').val());
      var h = parseInt($('#h').val());

      var sourceW = parseInt($('#target').width());
      var sourceH = parseInt($('#target').height());

      $.ajax({
        url: "/doCrop",
        data: {
          x: x,
          y: y,
          w: w,
          h: h,
          sourceW: sourceW,
          sourceH: sourceH
        },
        type: "POST",
        success: function (res) {
          if (res.code === 200) {
            alert(res.message);
          }
        },
        err: function (err) {
          console.log(err)
        }
        })
    }
  })
</script>
</body>
</html>

